{% extends "base.html.twig" %}


{% block title %}Contact{% endblock %}

    
{% block content %}
        <section>
          <h2>{{headline1}}</h2>
          <p>{{name}}</p>
          <p>{{wohnen}}</p>
          <p>{{ort}}</p>
        </section>
  
        <section>
          <h2>{{headline2}}</h2>
          <p>{{tel}}</p>
          <p>{{mail}}</p>
        </section>
{% endblock %}